Repository mazipan/pramuka-id: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": ["prettier --ignore-path .gitignore --write"],
  "*.{js,jsx,ts,tsx}": [
    "prettier --ignore-path .gitignore --write",
    "eslint --ignore-path .gitignore --quiet --fix"
  ]
}

fix: tailwind order
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: types
  next-env.d.ts
  src/@types/global.d.ts
  src/@types/next-env.d.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: tailwind purge
  postcss.config.js
  tailwind.config.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: rustywind on lintstaged
  .lintstagedrc.json
  package.json
Due: prettier --ignore-path .gitignore --write

chore: optimize all images
  README.md
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/assets/bendera-semaphore/ukuran.png
  public/assets/morse/morse-code.svg
  public/assets/proklamasi/naskah-proklamasi.jpeg
  public/assets/proklamasi/proklamasi-bung-karno.jpg
  public/assets/satuan-karya/saka-adhyasta-pemilu.jpg
  public/assets/satuan-karya/saka-bahari.jpg
  public/assets/satuan-karya/saka-bakti-husada.jpg
  public/assets/satuan-karya/saka-bhayangkara.jpg
  public/assets/satuan-karya/saka-bina-sosial.jpg
  public/assets/satuan-karya/saka-dirgantara.png
  public/assets/satuan-karya/saka-informatika.png
  public/assets/satuan-karya/saka-kalpataru.jpg
  public/assets/satuan-karya/saka-keluarga-berencana.jpg
  public/assets/satuan-karya/saka-kerohanian.jpg
  public/assets/satuan-karya/saka-kominfo.jpg
  public/assets/satuan-karya/saka-milenial.jpg
  public/assets/satuan-karya/saka-pandu-wisata.jpg
  public/assets/satuan-karya/saka-pekerjaan-umum.jpg
  public/assets/satuan-karya/saka-pustaka.jpg
  public/assets/satuan-karya/saka-sakrawati.png
  public/assets/satuan-karya/saka-taruna-bumi.jpg
  public/assets/satuan-karya/saka-teknologi.jpg
  public/assets/satuan-karya/saka-telematika.jpg
  public/assets/satuan-karya/saka-wanabakti.jpg
  public/assets/satuan-karya/saka-widya-bakti.jpg
  public/assets/satuan-karya/saka-wira-kartika.jpg
  public/assets/seragam-pramuka/jenis-seragam-pramuka.jpg
  public/assets/seragam-pramuka/seragam-pembina-pramuka-putra.jpg
  public/assets/seragam-pramuka/seragam-pembina-pramuka-putri.jpg
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-64x64.png
  public/icon.svg
  screenshot.png
  screenshots/homepage.png
Due: prettier --ignore-path .gitignore --write

chore: optimize screenshots images
  README.md
  screenshots/homepage.png
  screenshots/pancasila.png
Due: prettier --ignore-path .gitignore --write

chore: make height same
  screenshots/homepage.png
  screenshots/pancasila.png
Due: none

chore: generate typings for data
  .lintstagedrc.json
  src/data/bendera-semaphore.ts
  src/data/daftar-isi.ts
  src/data/dasa-dharma.ts
  src/data/download-sku.ts
  src/data/dwi-dharma.ts
  src/data/dwi-satya.ts
  src/data/hari-peringatan-nasional.ts
  src/data/hymne-pramuka.ts
  src/data/kompas.ts
  src/data/kwartir.ts
  src/data/lagu-lagu-pramuka.ts
  src/data/lambang-pramuka.ts
  src/data/morse.ts
  src/data/pancasila.ts
  src/data/pedoman-sku.ts
  src/data/proklamasi.ts
  src/data/radio.ts
  src/data/salam-pramuka.ts
  src/data/sandi-ambalan.ts
  src/data/satuan-karya-pramuka.ts
  src/data/seragam-pramuka.ts
  src/data/tanda-kecakapan-khusus.ts
  src/data/tepuk-pramuka.ts
  src/data/tri-satya.ts
  src/data/uud45.ts
  src/pages/api/radio.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add new screenshot
  README.md
  screenshots/morse.png
Due: prettier --ignore-path .gitignore --write

chore: remove all public path hardcoded
  src/components/MetaHead.tsx
  src/pages/index.tsx
  src/pages/materi-kecakapan-umum/index.js
  src/pages/materi-kenegaraan/index.js
  src/pages/materi-pramuka/index.js
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: breadcrumb
  src/components/Breadcrumb/Level3.tsx
  src/components/HeaderSection.tsx
  src/components/MainLayout.tsx
  src/components/MetaHead.tsx
  src/constants/index.ts
  src/pages/download/index.tsx
  src/pages/index.tsx
  src/pages/materi-kecakapan-umum/bendera-semaphore.js
  src/pages/materi-kecakapan-umum/hari-peringatan-nasional.js
  src/pages/materi-kecakapan-umum/index.js
  src/pages/materi-kecakapan-umum/kompas.js
  src/pages/materi-kecakapan-umum/lagu-lagu-pramuka.js
  src/pages/materi-kecakapan-umum/morse.js
  src/pages/materi-kecakapan-umum/radio.js
  src/pages/materi-kecakapan-umum/tanda-kecakapan-khusus.js
  src/pages/materi-kecakapan-umum/tepuk-pramuka.js
  src/pages/materi-kenegaraan/index.js
  src/pages/materi-kenegaraan/pancasila.js
  src/pages/materi-kenegaraan/pembukaan-uud-1945.js
  src/pages/materi-kenegaraan/proklamasi.js
  src/pages/materi-pramuka/dasa-dharma.js
  src/pages/materi-pramuka/dwi-dharma.js
  src/pages/materi-pramuka/dwi-satya.js
  src/pages/materi-pramuka/hymne-pramuka.js
  src/pages/materi-pramuka/index.js
  src/pages/materi-pramuka/kwartir.js
  src/pages/materi-pramuka/lambang-pramuka.js
  src/pages/materi-pramuka/pedoman-sku.js
  src/pages/materi-pramuka/salam-pramuka.js
  src/pages/materi-pramuka/sandi-ambalan.js
  src/pages/materi-pramuka/satuan-karya-pramuka.js
  src/pages/materi-pramuka/seragam-pramuka.js
  src/pages/materi-pramuka/tri-satya.js
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add ignore type check
  src/pages/materi-kecakapan-umum/hari-peringatan-nasional.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add ignore type check
  src/pages/materi-pramuka/satuan-karya-pramuka.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: set small font size
  src/components/Breadcrumb/Level3.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: small revamp
  src/components/BottomNavigation.tsx
  src/components/Breadcrumb/Level3.tsx
  src/components/Card/List.tsx
  src/components/HeaderSection.tsx
  src/components/MainLayout.tsx
  src/components/SubmitGhIssue.tsx
  src/data/tanda-kecakapan-khusus.ts
  src/pages/_document.tsx
  src/pages/download/index.tsx
  src/pages/index.tsx
  src/pages/materi-kecakapan-umum/index.tsx
  src/pages/materi-kenegaraan/index.tsx
  src/pages/materi-pramuka/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add meta head
  src/components/BottomNavigation.tsx
  src/components/FooterSection.tsx
  src/components/HeaderSection.tsx
  src/components/MainLayout.tsx
  src/constants/index.ts
  src/pages/index.tsx
  src/pages/materi-kecakapan-umum/index.tsx
  src/pages/materi-kenegaraan/index.tsx
  src/pages/materi-pramuka/index.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: wrong link, move to ksana.in
  src/data/download-sku.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update README.md
  README.md
Due: prettier --ignore-path .gitignore --write

chore: update public path
  .env.production
Due: none

feat: update Sitemap
  next-sitemap.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: update brand title
  src/constants/index.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: update manifest
  public/site.webmanifest
Due: none

Update _document.tsx
  src/pages/_document.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: Google Search Console verification
  public/google254ec9b78a3c3c38.html
Due: prettier --ignore-path .gitignore --write

chore: remove old verification tag
  src/pages/_document.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update FooterSection.tsx
  src/components/FooterSection.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update SubmitGhIssue.tsx
  src/components/SubmitGhIssue.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: refactoring
  package.json
  public/apple-touch-icon.png
  src/components/BottomNavigation.tsx
  src/components/Breadcrumb/Level3.tsx
  src/components/Card/List.tsx
  src/components/Expansion.tsx
  src/components/IconPramuka.tsx
  src/components/MainLayout.tsx
  src/css/index.css
  src/data/kwartir.ts
  src/pages/_document.tsx
  src/pages/materi-kecakapan-umum/hari-peringatan-nasional.tsx
  src/pages/materi-kecakapan-umum/lagu-lagu-pramuka.tsx
  src/pages/materi-kecakapan-umum/morse.tsx
  src/pages/materi-kecakapan-umum/radio.tsx
  src/pages/materi-kecakapan-umum/tanda-kecakapan-khusus.tsx
  src/pages/materi-kecakapan-umum/tepuk-pramuka.tsx
  src/pages/materi-kenegaraan/proklamasi.tsx
  src/pages/materi-pramuka/hymne-pramuka.tsx
  src/pages/materi-pramuka/kwartir.tsx
  src/pages/materi-pramuka/lambang-pramuka.tsx
  src/pages/materi-pramuka/pedoman-sku.tsx
  src/pages/materi-pramuka/salam-pramuka.tsx
  src/pages/materi-pramuka/satuan-karya-pramuka.tsx
  src/pages/materi-pramuka/seragam-pramuka.tsx
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: ignore type for fix failed build
  src/pages/materi-pramuka/satuan-karya-pramuka.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: revamp meta tag
  package.json
  public/assets/5766.jpeg
  public/assets/5766.jpg
  public/assets/5930.jpeg
  public/assets/5930.jpg
  public/assets/6649.jpeg
  public/assets/6649.jpg
  public/assets/sky.jpeg
  public/assets/sky.jpg
  src/components/Breadcrumb/Level3.tsx
  src/components/Card/List.tsx
  src/components/Expansion.tsx
  src/components/HeaderSection.tsx
  src/components/MainLayout.tsx
  src/components/MetaHead.tsx
  src/data/daftar-isi.ts
  src/data/satuan-karya-pramuka.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/materi-kecakapan-umum/bendera-semaphore.tsx
  src/pages/materi-kecakapan-umum/kompas.tsx
  src/pages/materi-kecakapan-umum/morse.tsx
  src/pages/materi-kecakapan-umum/radio.tsx
  src/pages/materi-kecakapan-umum/tanda-kecakapan-khusus.tsx
  src/pages/materi-kenegaraan/pancasila.tsx
  src/pages/materi-kenegaraan/pembukaan-uud-1945.tsx
  src/pages/materi-pramuka/dasa-dharma.tsx
  src/pages/materi-pramuka/dwi-dharma.tsx
  src/pages/materi-pramuka/dwi-satya.tsx
  src/pages/materi-pramuka/hymne-pramuka.tsx
  src/pages/materi-pramuka/kwartir.tsx
  src/pages/materi-pramuka/lambang-pramuka.tsx
  src/pages/materi-pramuka/tri-satya.tsx
  src/pages/tentang.tsx
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: description
  src/pages/download/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

meta desc
  src/pages/materi-kecakapan-umum/tepuk-pramuka.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update salam-pramuka.tsx
  src/pages/materi-pramuka/salam-pramuka.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update tepuk-pramuka.tsx
  src/pages/materi-kecakapan-umum/tepuk-pramuka.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: meta
  src/data/daftar-isi.ts
  src/pages/download/index.tsx
  src/pages/materi-kecakapan-umum/bendera-semaphore.tsx
  src/pages/materi-kecakapan-umum/hari-peringatan-nasional.tsx
  src/pages/materi-kecakapan-umum/kompas.tsx
  src/pages/materi-kecakapan-umum/lagu-lagu-pramuka.tsx
  src/pages/materi-kecakapan-umum/morse.tsx
  src/pages/materi-kecakapan-umum/pedoman-sku.tsx
  src/pages/materi-kecakapan-umum/radio.tsx
  src/pages/materi-kecakapan-umum/salam-pramuka.tsx
  src/pages/materi-pramuka/dasa-dharma.tsx
  src/pages/materi-pramuka/dwi-dharma.tsx
  src/pages/materi-pramuka/dwi-satya.tsx
  src/pages/materi-pramuka/hymne-pramuka.tsx
  src/pages/materi-pramuka/kwartir.tsx
  src/pages/materi-pramuka/lambang-pramuka.tsx
  src/pages/materi-pramuka/sandi-ambalan.tsx
  src/pages/materi-pramuka/tri-satya.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add seo text
  public/robots.txt
  public/sitemap.xml
  src/components/MainLayout.tsx
  src/components/SeoText.tsx
  src/pages/download/index.tsx
  src/pages/index.tsx
  src/pages/materi-kecakapan-umum/bendera-semaphore.tsx
  src/pages/materi-kecakapan-umum/hari-peringatan-nasional.tsx
  src/pages/materi-kecakapan-umum/index.tsx
  src/pages/materi-kecakapan-umum/kompas.tsx
  src/pages/materi-kecakapan-umum/lagu-lagu-pramuka.tsx
  src/pages/materi-kecakapan-umum/morse.tsx
  src/pages/materi-kecakapan-umum/pedoman-sku.tsx
  src/pages/materi-kecakapan-umum/radio.tsx
  src/pages/materi-kecakapan-umum/salam-pramuka.tsx
  src/pages/materi-kecakapan-umum/tanda-kecakapan-khusus.tsx
  src/pages/materi-kecakapan-umum/tepuk-pramuka.tsx
  src/pages/materi-kenegaraan/index.tsx
  src/pages/materi-kenegaraan/pancasila.tsx
  src/pages/materi-kenegaraan/pembukaan-uud-1945.tsx
  src/pages/materi-kenegaraan/proklamasi.tsx
  src/pages/materi-pramuka/dasa-dharma.tsx
  src/pages/materi-pramuka/dwi-dharma.tsx
  src/pages/materi-pramuka/dwi-satya.tsx
  src/pages/materi-pramuka/hymne-pramuka.tsx
  src/pages/materi-pramuka/index.tsx
  src/pages/materi-pramuka/kwartir.tsx
  src/pages/materi-pramuka/lambang-pramuka.tsx
  src/pages/materi-pramuka/sandi-ambalan.tsx
  src/pages/materi-pramuka/satuan-karya-pramuka.tsx
  src/pages/materi-pramuka/seragam-pramuka.tsx
  src/pages/materi-pramuka/tri-satya.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update Level3.tsx
  src/components/Breadcrumb/Level3.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix
